/* Alternate Crypto.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0; /* Remove default body margin */
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertically center the content */
  min-height: 100vh; /* Set a minimum viewport height to cover the whole display */
  color: #fff;
  background-position: center;
  background-image: url("https://images.hive.blog/0x0/https://steemitimages.com/DQmZLdE84BuE4pNpxDCiv3QdXKNRAr6ZYyfUJjWjVraXzrZ/source.gif");
  background-size: cover; /* Cover the whole display */
  background-attachment: fixed;

  overflow: hidden; /* Prevent scrollbars */
}

/* Rest of your CSS remains the same */

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  position: relative;
  bottom: 59px;
  margin-bottom: 32px;
  text-align: center;
  color: white;
  background-color: #02000455;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
  transition: background-image 0.3s, transform 0.2s;
}

.coin-input:hover {
  background-image: linear-gradient(
    -225deg,
    #4801ff 0%,
    #7918f2 52%,
    #ac32e4 100%
  );
  transform: translateY(-2px);
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.coin-container {
  padding: 20px;
  background-color: #1eaaeb64;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s, transform 0.2s;
}

.coin-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* Additional styles can be added as needed */
